@using EleWise.ELMA.CRM.Web.Models
@using EleWise.ELMA
@using EleWise.ELMA.CRM.Web
@model GroupContactInfo
<div style="padding: 5px">
    @using (Html.ELMAForm("DeleteGroup", "Contact", new { area = CRMAreaRegistration.AREA_NAME }))
    {
        for (int i = 0; i <= Model.Contacts.Count - 1; i++)
        {
            @Html.HiddenFor(m => m.Contacts[i].Id)
        }
        <div class="form-label">
            @(Model.Contacts.Count > 1 ? SR.T("Удалить выбранные контакты?") : SR.T("Удалить выбранный контакт?"))
        </div>
        <div class="popup-buttons">
            <input type="submit" class="confirm" value="@SR.T("Удалить")" />
            <input type="button" value="@SR.Cancel" onclick="@Html.ClosePopup(Model.PopupId)" />
        </div>
    }
</div>
