@model MarketingStatisticModel

@using EleWise.ELMA
@using EleWise.ELMA.CRM.Web
@using EleWise.ELMA.CRM.Web.Models
@using EleWise.ELMA.Helpers
@using EleWise.ELMA.Model.Types.Settings
@using EleWise.ELMA.Model.Views

@{
    const string gridId = "MarketingStatisticGrid";

    var currentDateTimeFormat = DateTimeFormatHelper.GetCurrentFullFormat();

    var textPeriod = HeaderDateText(Model.Mode, Model.PeriodList[1].From.Value, Model.PeriodList[Model.PeriodList.Count - 1].To.Value.AddDays(-1));
}

@functions {
    string HeaderDateText(MarketingPeriodEnum mode, DateTime date1, DateTime date2)
    {
        switch (mode)
        {
            case MarketingPeriodEnum.Day:
            case MarketingPeriodEnum.Week:
                if (date1.Year != date2.Year)
                {
                    return SR.CalendarDMYDMY(date1, date2);
                }
                if (date1.Month != date2.Month)
                {
                    return SR.CalendarDMDMY(date1, date2);
                }
                return SR.T("{0:dd} - {1:d MMMM yyyy} г.", date1, date2);
            case MarketingPeriodEnum.Month:
                return SR.T("{0:MMMM}", date1) + (date2.Year != date1.Year ? SR.T(" {0:yyyy} г.", date1) : "") + " - " + SR.YearMonth(date2);
        }
        return "";
    }
}

@helper NavigationCalendar()
{
    var periodList = new List<DropDownItem>
    {
        new DropDownItem {
            Value = MarketingPeriodEnum.Month.ToString(),
            Text = SR.T("Месяц"),
            Selected = true
        },
        new DropDownItem {
            Value = MarketingPeriodEnum.Week.ToString(),
            Text = SR.T("Неделя"),
            Selected = false
        },
        new DropDownItem {
            Value = MarketingPeriodEnum.Day.ToString(),
            Text = SR.T("День"),
            Selected = false
        }
    };

    var comboBox = Html.Telerik().DropDownList()
        .Name("period_switcher")
        .BindTo(periodList)
        .ClientEvents(events => events.OnChange("function(e) { changeViewMode(e.value) }"))
        .HtmlAttributes(new Dictionary<string, object> { { "style", "z-index: 10;" } });
    <div>
        <div style="display: none; z-index: 2;">
            @Html.Editor(m => m.CurrentDate, a =>
            {
                a.Html.onchange = "updateDate";
                a.TypeSettings = new DateTimeSettings { ShowTime = false };
            })
        </div>
        <div class="calendar-navigator">
                <div class="calendar-navigator-item">
                    @Html.Button().Text(SR.T("Сегодня")).Click("updateDynamicTable(0, Date.now())").NoFill()
                </div>
                <div class="calendar-navigator-item">
                @(Html.ButtonGroup()
                    .Item(a =>
                    {
                        a.IconUrl("#arrow_left.svg");
                        a.Click("updateDynamicTable(-1);");
                        a.Style(ButtonStyle.Simple);
                        a.NoFill();
                    })
                    .Item(a =>
                    {
                        a.Text(Model.CurrentDate.ToString("dd MMMM yyyy"));
                        a.Click("toggleMarketingCalendar(this)");
                        a.Attributes(new { @class = "marketing-date-title" });
                        a.NoFill();
                    })
                    .Item(a =>
                    {
                        a.IconUrl("#arrow_right.svg");
                        a.Click("updateDynamicTable(1);");
                        a.Style(ButtonStyle.Simple);
                        a.NoFill();
                    }))                </div>
                <div class="calendar-navigator-item">
                    @comboBox
                </div>
        </div>
    </div>
}
<div class="marketing-statistic">
    @NavigationCalendar()
</div>

@Html.Hidden("CurrentDate", Model.CurrentDate.ToShortDateString())
@Html.HiddenFor(m => m.Mode)

@Html.Partial("MarketingStatistic/MarketingStatisticGrid")

<script type="text/javascript">
    function updateDate(e) {
        var date = $.telerik.datetime.format(e.date, jQuery.telerik.cultureInfo.shortDate);
        var mode = $("#Mode").val();

        updateTitleMarketing(mode, date);
        reloadGrid(date, mode);
    }

    function updateDynamicTable(count, newDate) {
        var date;
        if (newDate) {
            date = newDate;
        } else{
            date = $.telerik.datetime.parse({ value: $("#CurrentDate").val(), format: '@currentDateTimeFormat' }).value;
        }
        var mode = $("#Mode").val();
        if (mode == '@MarketingPeriodEnum.Month') {
            date.addMonths(count);
        }
        else if (mode == '@MarketingPeriodEnum.Week') {
            date.addDays(count * 7);
        }
        else if (mode == '@MarketingPeriodEnum.Day') {
            date.addDays(count);
        }
        var dateString = $.telerik.datetime.format(date, jQuery.telerik.cultureInfo.shortDate);
        updateTitleMarketing(mode, dateString);
        reloadGrid(dateString, mode);
    }

    function updateTitleMarketing(mode, currentDate) {
        var date = $.telerik.datetime.parse({ value: currentDate, format: '@currentDateTimeFormat' }).value;
        var date1, date2, format;
        switch (mode) {
        case "@MarketingPeriodEnum.Month":
            date1 = new Date(date.getFullYear(), date.getMonth(), 1).addMonths(-5);
            date2 = new Date(date.getFullYear(), date.getMonth(), 1).addMonths(1).addDays(-1);
            format = "MMM[ yyyy]{ '&ndash;'[ MMM] yyyy}";
            break;
        case "@MarketingPeriodEnum.Week":
            var firstWeek = new Date(date.setDate(date.getDate() - date.getDay() + (date.getDay() == 0 ? -6 : 1)));
            date1 = new Date(firstWeek).addDays(-35);
            date2 = new Date(firstWeek).addDays(6);
            format = "d MMM[ yyyy]{ '&ndash;' d[ MMM] yyyy}";
            break;
        case "@MarketingPeriodEnum.Day":
            date1 = new Date(date).addDays(-13);
            date2 = new Date(date);
            format = "d[ MMM][ yyyy]{ '&ndash;' d MMM yyyy}";
            break;
        }
        $(".marketing-statistic .marketing-date-title .t-button-text").html(Date.dateTimePickerTitleFormatDates(date1, date2, format));
    }

    function changeViewMode(mode) {
        elma.closeAllMenu();
        if (mode == $("#Mode").val())
            return;

        var date = $("#CurrentDate").val();
        updateTitleMarketing(mode, date);
        reloadGrid(date, mode);
    }

    function reloadGrid(date, mode) {
        elma.openPleaseWait(true);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("MarketingStatisticGrid", "MarketingActivity", new { area = CRMAreaRegistration.AREA_NAME })?marketingBaseId=@(Model.MarketingBase.Id)&date=' + date + '&mode=' + mode,
            error: function () {
                elma.closePleaseWait(true);
            },
            success: function (data) {
                if (data) {
                    $("#@gridId").html(data);
                    $("#CurrentDate").val(date);
                    $("#Mode").val(mode);
                }
                elma.closePleaseWait(true);
            }
        });
    }

    function toggleMarketingCalendar(obj) {
        if ($('#CurrentDate_date').data('tDatePicker').dateView.isOpened()) {
            $('#CurrentDate_date').data('tDatePicker').close();
        }
        else {
            var position = $(obj).offset();
            $("#CurrentDate_date").data("tDatePicker").dateView.open({ offset: { top: position.top, left: position.left - 72 }, outerHeight: $(obj).outerHeight(), outerWidth: $(obj).outerWidth(), zIndex: 2 });
        }
    }
</script>
