@using EleWise.ELMA
@using EleWise.ELMA.BPM.Web.Common.Components
@using EleWise.ELMA.CRM.Models
@using EleWise.ELMA.Model.Services
@model EleWise.ELMA.CRM.Web.Portlets.InpaymentPortletPersonalization
           
@using (Html.TableForm(EleWise.ELMA.Model.Views.ViewType.Edit))
{
    <tr>
        <td class="captionCell">@SR.T("Фильтр для отображения")</td>
        <td>
            @Html.Editor(m => m.Filter, a =>
                                          {
                                              a.EntityFilterProvider = FilterFilterProvider.UID;
                                              a.EntityFilterData = InterfaceActivator.UID<IInpayment>().ToString();
                                          })
        </td>
    </tr>
    <tr>
        <td class="captionCell">@SR.T("Показывать только мои")</td>
        <td>
            @Html.Editor(m => m.ShowOnlyMy)
        </td>
    </tr>
    <tr>
        <td class="captionCell">@SR.T("Показывать по периодам")</td>
        <td>
            @Html.Editor(m => m.SplitByPeriods)
        </td>
    </tr>
}